/*Global*/

@font-face {
    font-family: 'Geologica-Bold';
    src:
        url('../fonts/Geologica-Bold.woff2') format('woff2'),
        url('../fonts/Geologica-Bold.woff') format('woff'),
        url('../fonts/Geologica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica-Light';
    src:
        url('../fonts/Geologica-Light.woff2') format('woff2'),
        url('../fonts/Geologica-Light.woff') format('woff'),
        url('../fonts/Geologica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica-Regular';
    src:
        url('../fonts/Geologica-Regular.woff2') format('woff2'),
        url('../fonts/Geologica-Regular.woff') format('woff'),
        url('../fonts/Geologica-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica-SemiBold';
    src:
        url('../fonts/Geologica-SemiBold.woff2') format('woff2'),
        url('../fonts/Geologica-SemiBold.woff') format('woff'),
        url('../fonts/Geologica-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica-Thin';
    src:
        url('../fonts/Geologica-Thin.woff2') format('woff2'),
        url('../fonts/Geologica-Thin.woff') format('woff'),
        url('../fonts/Geologica-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster-Regular';
    src:
        url('../fonts/Lobster-Regular.woff2') format('woff2'),
        url('../fonts/Lobster-Regular.woff') format('woff'),
        url('../fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --black: #201C43;
    --white: #ffffff;
    --purple: #7D6FFB;
    --light_purple: #7A779F;
    --blue: #76D0E9;
    --dark_blue: #38415D;
    --pink: #F33672;
    --grey: #999999;
    --light_blue: #B6EBFF;
    --light-grey: #ECF6FF;
    --font_light: 'Geologica-Light', serif;
    --font_regular: 'Geologica-Regular', serif;
    --font_bold: 'Geologica-Bold', serif;
    --font_semibold: 'Geologica-SemiBold', serif;
    --font_thin: 'Geologica-Thin', serif;
    --lobster: 'Lobster-Regular', serif;
}

html, body, body p {
    font-family: var(--font_light), "Arial", sans-serif;
}

html, body {
    overflow-x: auto;
}

body {
    background-color: var(--white);
    color: var(--dark_blue);
}

body p {
    margin-bottom: initial;
    color: var(--dark_blue);
}

body p strong {
    font-family: var(--font_semibold);
}

body .container {
    max-width: 1465px;
}

.closed {
    overflow-y: hidden;
    height: 100vh;
}

body .container-fluid {
    max-width: 1630px;
}

figure {
    overflow: hidden;
}

figure.digits-item__image {
    overflow: visible;
}

.post figure {
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 30px;
}

figure img, a.gallery-tab-list__image img, a.document img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure.digits-item__image img {
    object-fit: contain;
    filter: drop-shadow(6px 5px 0px #2B3246);
}

figure.gift__image img {
    object-fit: contain;
}

figure .about-wrap__figure {
    display: flex;
    align-items: flex-end;
}

figure.about-wrap__figure img {
    object-fit: contain;
    height: auto;
    position: relative;
    left: 11px;
}

body ul,
body li {
    list-style-type: none;
    padding-left: 0;
    /* margin-bottom: inherit; */
}

body .button {
    font-family: var(--font_regular);
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 10px 40px;
    font-size: 20px;
    line-height: 120%;
    background: linear-gradient(to top, var(--black), var(--purple));
    width: fit-content;
    min-height: 46px;
    border-radius: 26px;
    -webkit-box-shadow: 5px 5px 8px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 8px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 8px 8px rgba(0, 0, 0, 0.25);
    transition: all .25s ease-in-out;
}

body .button.more-btn {
    margin: 50px auto 0;
    min-width: 272px;
}

body button.slogan-cta__btn {
    position: relative;
    z-index: 1;
}

body .button.action-more {
    box-shadow: 0 0 8px var(--white);
}

body .block-documents .button.action-more {
    min-width: 244px;
}

body .button.action-more p {
    font-size: 14px;
    position: relative;
    color: var(--white);
    margin-left: -18px;
}

body .instrument-wrap .button.action-more {
    padding: 4px 63px;
}

body .instrument-wrap .button.action-more p {
    font-size: 20px;
}

body .service-item .button.action-more {
    width: 100%;
    min-height: 34px;
}

body .button.action-more p::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -23px;
    display: block;
    width: 18px;
    height: 18px;
    background: url('../img/arrow-more.svg') no-repeat center/contain;
}

body .instrument-wrap .button.action-more p::after {
    top: 3px;
    right: -27px;
    display: block;
    width: 20px;
    height: 20px;
}

body .button.gift__btn {
    min-width: 236px;
}

body .button:hover, body .button>span:hover {
    background: var(--black);
    transition: all .25s ease-in-out;
}

body footer .button.city-choose-btn>span:hover,
body .hero-pages-wrap .button.city-choose-btn:hover,
body .hero-pages-wrap .button.city-choose-btn>span:hover {
    background: initial;
}

body .button.active {
    background: var(--purple);
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section section {
    padding-top: 0;
    padding-bottom: 0;
}

footer {
    padding-top: 67px;
    padding-bottom: 40px;
}

section.dark, footer {
    background-color: var(--dark_blue);
}

section.dark *, body footer *, .reviews-wrap__reviews * {
    color: var(--white);
}

.reviews-wrap__reviews .reviews-item * {
    color: initial;
}

section.hero, section.popup, section.single, section.map {
    padding-top: 0;
    padding-bottom: 0;
}

section.cta {
    padding-top: 40px;
    padding-bottom: 20px;
}

section.cta-gift {
    padding-top: 80px;
    padding-bottom: 40px;
}

section.digits {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.reviews {
    padding-top: 80px;
    padding-bottom: 71px;
}

section.levels {
    padding-top: 30px;
    padding-bottom: 30px;
}

section.results {
    padding-top: 80px;
    padding-bottom: 63px;
}

section.hero-pages {
    padding-top: 120px;
    padding-bottom: 60px;
}

section.documents {
    padding-top: 50px;
}

section.about {
    padding-bottom: 0;
}

section.symbolism {
    padding-top: 76px;
}

section.gift-page {
    padding-top: 170px;
    padding-bottom: 0;
}

section.instrument {
    padding-top: 64px;
    padding-bottom: 95px;
}

section.contacts {
    padding-top: 95px;
    padding-bottom: 74px;
}

section.gallery {
    padding-top: 52px;
}

section.grey {
    background-color: var(--light-grey);
}

section.gradient {
    background: linear-gradient(to right, var(--light_blue), var(--white));
}

section.gradient-left {
    background: linear-gradient(to left, #D7F3FF 40%, var(--white));
}

section.gradient-heaven {
    background: url('../img/gradient-heaven.jpg') no-repeat center right/cover, linear-gradient(to right, var(--light_blue), var(--white));
}

section.gradient2-heaven {
    background: url('../img/gradient-heaven.jpg') no-repeat center right/cover, linear-gradient(to right, #B6EBFF, var(--white));
}

section.heaven2 {
    background-image: url('../img/heaven2.jpg');
}

section.heaven2::after {
    content: "";
    display: block;
    width: 377px;
    height: 136px;
    position: absolute;
    top: 105px;
    right: 6vw;
    background-image: url('../img/bird1.svg');
    opacity: .6;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}

section.heaven2.gradient-dark::after {
    display: none;
}

section.pattern {
    background: url('../img/pattern.jpg') no-repeat center/cover;
}

section.tree::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/Tree.svg');
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center right;
}

section.contacts.tree::after {
    background-size: auto 76%;
    background-position: center right 11%;
}

.gradient-dark::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #38415D, transparent);
}

.gradient-dark h2 {
    color: var(--white);
}

.gradient-dark .container, .gradient-dark .container-fluid {
    z-index: 1;
}

section.tree .container, section.tree .container-fluid, section.heaven2 .container, section.heaven2 .container-fluid {
    position: relative;
    z-index: 2;
}

.overlay::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: calc(100% + 2px);
    background: rgba(56, 65, 93, .6);
}

.overlay.white::before {
    background: rgba(255, 255, 255, .7);
}

.solves-item__wrap.overlay::before {
    background: linear-gradient(to right, #97C9F8 67%, transparent);
}

.solves-item__wrap.education-wrap.overlay::before {
    background: linear-gradient(to right, #4D91D0, #97C9F8);
}

.overlay .container-fluid, .overlay .container {
    position: relative;
    z-index: 2;
}

.document {
    border-radius: 10px;
    border: 1px solid #7A779F;
    padding: 8px;
    overflow: hidden;
    transition: opacity .3s ease-in-out;
}

.gallery-zoom {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(32, 28, 67, .5) url('../img/magnifier.svg') no-repeat center/108px auto;
    transition: opacity .3s ease-in-out;
}

.document__description {
    width: calc(100% - 40px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    padding: 14px;
    border-radius: 20px;
    background: rgba(255, 255, 255, .7);
    z-index: 1;
}

.document__description p {
    font-size: 14px;
}

.document__description p:not(:last-of-type) {
    margin-bottom: 12px;
}

.document:hover .gallery-zoom {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.documents-slider__slide.document {
    width: 302px;
    height: 408px;
}

.block-reviews__titles.title-box {
    max-width: 93%;
    gap: 30px;
    margin-bottom: 5.3rem;
    grid-template-columns: 54% calc(46% - 30px);
}

.block-reviews__title.title-box__title {
    margin-bottom: 0;
}

.post blockquote {
    margin-left: 56px;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 45px;
    border-radius: 20px;
    background-color: var(--light_purple);
}

.post blockquote p {
    color: var(--white);
    font-family: var(--font_regular);
    font-size: 18px;
}

.post blockquote p:last-of-type {
    margin-bottom: 0;
}

.post p {
    font-size: 18px;
}

.post p:not(:last-of-type), .post ul, .post ol {
    margin-bottom: 24px;
}

.post form>p, .post form>p:not(:last-of-type) {
    margin-bottom: 0;
}

.post ul {
    padding-left: 20px;
}

.post ol li {
    list-style-type: inherit;
}

.post ul li {
    padding-left: 0;
    margin-bottom: 10px;
    list-style-type: disc;
}

.post a {
    color: #4E77AC;
}

.plashka-item {
    font-size: 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 58px;
    padding: 10px 36px;
    border: 1px solid #4D91D0;
    box-shadow: 5px 5px 6px 4px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    background: #D7F3FF;
}

.plashka-item.result-item {
    width: fit-content;
    min-height: 46px;
    padding: 5px 36px;
    background: rgba(217, 217, 217, .6);
    position: relative;
}

.plashka-item.result-item.item-1 {
    right: -8vw;
}

.plashka-item.result-item.item-2 {
    top: 89px;
    right: -3vw;
}

.plashka-item.result-item.item-3 {
    top: -19px;
    left: 1vw;
}

.plashka-item.result-item.item-4 {
    top: 57px;
    right: -6vw;
}

.plashka-item.result-item.item-5 {
    top: -53px;
    left: 14vw;
}

.plashka-item.result-item.item-6 {
    top: 28px;
    right: -3vw;
}

.plashka-item.result-item.item-7 {
    top: -103px;
    left: -5vw;
}

.plashka-item.result-item.item-8 {
    left: -26vw;
}

body h1 {
    margin-bottom: 11px;
    color: var(--white);
    line-height: 115%;
    font-family: var(--font_semibold);
    font-size: 70px;
}

body h1.hero__title {
    font-family: var(--font_thin);
    font-size: 40px;
    color: var(--light_purple);
    margin-bottom: 2.3rem;
    font-weight: 100;
}

body h1.hero-single__title {
    margin-top: 46px;
    margin-bottom: 31px;
}

body h1.simple-page__title {
    color: var(--black);
}

body h1.error-404__title {
    font-size: 110px;
    margin-bottom: 3rem;
}

body h1.error-404__title {
    font-size: 110px;
    margin-bottom: 3rem;
}

.simple-page__top {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--dark_blue);
}

.simple-page__top *, .simple-page__top .breadcrumbs__list span a {
    color: var(--black);
}

body h2 {
    margin-bottom: 40px;
    color: var(--black);
    line-height: 120%;
    font-family: var(--font_semibold);
    font-size: 40px;
}

body h2.hero__subtitle {
    font-family: var(--font_bold);
    font-size: 60px;
}

body h2.services-wrap__title {
    max-width: 60%;
}

body h2.service-item__title {
    margin-bottom: 18px;
}

body h2.hero__subtitle span {
    font-size: 90px;
    display: block;
    margin-bottom: 1.85rem;
    margin-top: 1.4rem;
}

body h2.gift__title {
    font-size: 60px;
    line-height: 121%;
    font-weight: 500;
    font-family: var(--lobster);
    margin-bottom: 0;
}

body h2.gift__title.gift-page {
    font-size: 60px;
    font-family: var(--font_bold);
    margin-bottom: 1rem;
}

body h2.bird-title {
    position: relative;
    z-index: 2;
}

body h2.bird-title>span.bird {
    width: 283px;
    height: 102px;
    position: absolute;
    top: 40%;
    right: -62px;
    z-index: 0;
}

body h2.gift-page.bird-title>span.bird {
    top: -4%;
    right: -55%;
}

body h2.cta-wrap__titleinner {
    font-family: var(--lobster);
    font-weight: 500;
    font-size: 100px;
    color: rgba(32, 28, 67, .1);
    margin-bottom: 0;
    width: 69%;
}

body h2.symbolism__title {
    max-width: 550px;
    margin-bottom: 61px;
}

.color-pink {
    color: var(--pink);
}

span.bird {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

span.bird.bird-1 {
    background-image: url('../img/bird1.svg');
}

body h2.bird-title>span.bird.bird-2 {
    background-image: url('../img/bird2.svg');
    width: 333px;
    height: 117px;
    right: 25px;
    top: 21%;
}

body h2.digits-item__digit, body h2.digits-item__digit::after {
    font-size: 80px;
}

body h2.digits-item__digit {
    color: var(--white);
    margin-bottom: -12px;
    filter: drop-shadow(6px 5px 0px #2B3246);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

body h2.digits-item__digit::after {
    content: "+";
    top: 1%;
    color: var(--blue);
    position: absolute;
    right: -54px;
    filter: drop-shadow(6px 5px 0px #2B3246);
}

body .post h3 {
    font-size: 20px;
    color: var(--black);
}

body .post h4 {
    font-size: 18px;
    color: var(--black);
}

body h3.service-item__title {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 126%;
}

body h3.solve-item__title {
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 126%;
}

body h3.cta-wrapper__title {
    font-family: var(--lobster);
    font-size: 20px;
    line-height: 130%;
    font-weight: 500;
    margin-bottom: 6px;
}

body h3.popup__heading {
    font-family: var(--font_thin);
    font-size: 18px;
    letter-spacing: 1px;
}

body h3.symbol-tree__title {
    font-size: 30px;
    margin-bottom: 0;
}

body h3.education-item__title {
    font-size: 16px;
    line-height: 132%;
}

body h3.instrument-texts__description {
    color: #38415D;
    font-family: var(--lobster);
    font-weight: 500;
    font-size: 30px;
    line-height: 126%;
    margin-bottom: 42px;
}

body h3.sidebar-wrap__title {
    font-size: 24px;
}

body h3.gallery__title {
    font-size: 40px;
}

body h4.cta-wrapper__subtitle {
    font-family: var(--font_thin);
    font-size: 14px;
    margin-bottom: 6px;
}

body p.cta-wrap__title {
    font-family: var(--lobster);
    font-weight: 500;
    top: 16%;
    left: 0;
    font-size: 60px;
    max-width: 670px;
    z-index: 1;
}

body .post h2 {
    font-size: 24px;
}

body .wp-block-media-text.is-image-fill-element>.wp-block-media-text__media img {
    position: relative;
}

body .wp-block-media-text>.wp-block-media-text__content {
    padding-left: 0;
}

body .about-wrap__content.post h2 {
    font-family: var(--lobster);
    font-weight: 500;
    color: var(--light_purple);
    margin-bottom: 42px;
    font-size: 36px;
}

body p {
    font-size: 16px;
    line-height: 121%;
    font-family: var(--font_light);
}

a.go-to-button {
    width: 47px;
    height: 47px;
    top: 20px;
    right: 20px;
    display: block;
    background: url('../img/arrow-more.svg') no-repeat center / contain;
}

.about .slogan-cta {
    margin-top: 4.5rem;
}

.slogan-cta p {
    font-family: var(--lobster);
    font-size: 24px;
    color: var(--light_purple);
    margin-bottom: 3rem;
    text-align: right;
}

.text-green {
    color: #30A841;
}

.text-yellow {
    color: #C38640;
}

.text-red {
    color: #E70A0A;
}

.post .text-large {
    font-size: 20px;
}

.slogan-cta.left p {
    text-align: left;
}

.slogan-cta.d-flex {
    align-items: center;
}

.slogan-cta.d-flex .slogan-cta__text p {
    margin-bottom: 0;
}

.mission__slogan.slogan-cta p {
    color: var(--black);
    margin-bottom: 0;
}

.mission__slogan.slogan-cta__text {
    padding-top: 80px;
    padding-left: 75px;
}

.slogan-cta.d-flex {
    gap: 58px;
}

.grid-two {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four {
    grid-template-columns: repeat(4, 1fr);
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.cta-box {
    margin-top: 80px;
    margin-bottom: 80px;
}

.cta-wrapper {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 24px 33px 18px;
}

.blue-cta .cta-wrapper {
    background: #B6EBFF;
    border: 1px solid #3BABCA;
}

.cta-box .cta-wrapper {
    max-width: 582px;
}

.cta-wrapper {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 24px 33px 18px;
}

footer .cta-wrapper {
    position: relative;
}

footer .cta-wrapper::before {
    content: "";
    position: absolute;
    top: 25%;
    left: -11vw;
    width: 141px;
    height: 150px;
    background: url('../img/bird3.svg') no-repeat center/contain;
}

footer .cta-wrapper * {
    color: initial;
}

body footer .cta-wrapper .button {
    color: var(--white);
}

@keyframes slide-top-down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(12px);
    }
}

@keyframes bounce {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes go-to-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(102vw);
    }
}

@keyframes go-from-left {
    0% {
        transform: translateX(-102vw);
    }

    100% {
        transform: translateX(0);
    }
}


.hero-wrapper__link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    z-index: 3;
    font-size: 20px;
    display: block;
    animation: 1s ease-in 1s infinite alternate slide-top-down;
    width: 28px;
    height: 62px;
    background: url('../img/to-down.svg') no-repeat center/contain;
}

.bounce {
    animation: 1s ease-in 1s infinite alternate bounce;
}

.go-to-right-and-from-left {
    animation: 2s ease-in 1s go-to-right, 1s ease-in 3s go-from-left;
}

.b-top {
    border-top: 5px solid var(--white);
}

.b-bottom {
    border-bottom: 5px solid var(--white);
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 30px;
}

.nav-links>div {
    width: fit-content;
}

.nav-links>div.nav-next {
    margin-left: auto;
}

.nav-links>div a {
    font-size: 18px;
    line-height: 140%;
    display: block;
}

body .fancybox__caption p {
    color: var(--white);
}

/*Media*/

@media (min-width:1921px) {}

@media (max-width:1599px) {
    body h1.hero__title {
        font-size: 36px;
        margin-bottom: 1.5rem;
    }

    body h2.hero__subtitle {
        font-size: 55px;
        margin-bottom: 16px;
    }

    body h2.hero__subtitle span {
        font-size: 84px;
        margin-bottom: 1rem;
        margin-top: 0.8rem;
    }

    body h2.services-wrap__title {
        max-width: 100%;
    }

    .services-wrap .slogan-cta {
        width: calc(100% + 4vw);
    }

    .services-wrap .slogan-cta p {
        margin-bottom: 2rem;
    }

    body .services-wrap button.slogan-cta__btn {
        font-size: 17px;
        padding: 6px 20px;
    }

    .plashka-item.result-item.item-2 {
        top: 80px;
        right: 1vw;
    }

    .plashka-item.result-item.item-4 {
        right: 3vw;
    }

    .plashka-item.result-item.item-6 {
        right: 0;
    }

    section.contacts.tree::after {
        background-position: center right 3%;
    }
}

@media (max-width:1399px) {
    body h1 {
        margin-bottom: 6px;
        font-size: 56px;
    }

    body h1.hero__title {
        font-size: 26px;
        margin-bottom: 1rem;
    }

    body h1.simple-page__title {
        font-size: 50px;
    }

    body h1.error-404__title {
        font-size: 90px;
        margin-bottom: 2rem;
    }

    body h2.hero__subtitle {
        font-size: 42px;
    }

    body h2.hero__subtitle span {
        font-size: 64px;
        margin-top: 0.5rem;
    }

    body .button {
        font-size: 18px;
    }

    section.services {
        padding-top: 90px;
        padding-bottom: 80px;
    }

    section.reviews {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    section.cta {
        padding-top: 36px;
        padding-bottom: 30px;
    }

    footer {
        padding-top: 50px;
    }

    .slogan-cta p {
        margin-bottom: 1rem;
    }

    .hero-wrapper__link {
        bottom: 20px;
    }

    body h2 {
        margin-bottom: 35px;
        font-size: 38px;
    }

    body h2.digits-item__digit {
        margin-bottom: -5px;
    }

    body h2.digits-item__digit, body h2.digits-item__digit::after {
        font-size: 64px;
    }

    body h2.digits-item__digit::after {
        right: -44px;
    }

    section.digits {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    section.gift-page {
        padding-top: 128px;
    }

    section.instrument {
        padding-top: 60px;
        padding-bottom: 85px;
    }

    .plashka-item {
        font-size: 18px;
        line-height: 130%;
        min-height: 54px;
        padding: 10px 36px;
    }

    section.gallery {
        padding-top: 46px;
        padding-bottom: 70px;
    }

    body h2.gift__title {
        font-size: 48px;
    }

    body h2.bird-title>span.bird {
        width: 208px;
        height: 85px;
        top: 38%;
        right: -26px;
    }

    body h2.instrument-texts__title {
        margin-bottom: 27px;
        font-size: 30px;
    }

    .block-reviews__titles.title-box {
        max-width: 100%;
        margin-bottom: 4.3rem;
    }

    .documents-slider__slide.document {
        height: 332px;
    }

    body h2.cta-wrap__titleinner {
        font-size: 75px;
    }

    body p.cta-wrap__title {
        font-size: 48px;
        max-width: 556px;
        top: 20%;
    }

    body h2.bird-title>span.bird.bird-2 {
        width: 237px;
        height: 93px;
    }

    body h3.gallery__title {
        font-size: 32px;
    }

    .levels-list.grid-four {
        grid-template-columns: repeat(2, 1fr);
    }

    .plashka-item.result-item.item-4 {
        right: 10vw;
    }

    .plashka-item.result-item.item-5 {
        left: 6vw;
    }

    .plashka-item.result-item.item-6 {
        right: 11vw;
    }

    .plashka-item.result-item.item-7 {
        left: -7vw;
    }

    footer .cta-wrapper::before {
        top: 34%;
        left: -11vw;
        width: 123px;
        height: 138px;
    }

    footer .cta-wrapper::before {
        top: 47%;
        left: -12vw;
        width: 110px;
        height: 119px;
    }

    body h3.popup__heading {
        font-size: 16px;
    }

    section.about {
        padding-top: 80px;
    }

    body h3.symbol-tree__title {
        font-size: 26px;
    }

    body h2.symbolism__title {
        max-width: 484px;
        margin-bottom: 36px;
    }

    body h2.gift__title.gift-page {
        font-size: 48px;
    }

    body h3.instrument-texts__description {
        font-size: 26px;
        margin-bottom: 34px;
    }

    body .has-medium-font-size {
        font-size: 18px !important;
    }

    a.go-to-button {
        width: 33px;
        height: 33px;
    }

    body .post .wp-block-spacer[style="height:80px"] {
        height: 60px !important;
    }

    body .post h2 {
        font-size: 22px;
    }

    body .post h3 {
        font-size: 19px;
    }

    body .post h4 {
        font-size: 17px;
    }

    .post p {
        font-size: 16px;
    }

    body h3.sidebar-wrap__title {
        font-size: 20px;
    }

    .document__description {
        padding: 12px;
        border-radius: 14px;
    }

    .document__description p {
        font-size: 13px;
    }
}

@media (max-width:1199px) {
    section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    section.gift {
        padding-bottom: 44px;
    }

    section.reviews {
        padding-top: 60px;
    }

    section.results {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    section.hero-pages {
        padding-top: 92px;
        padding-bottom: 40px;
    }

    section.about {
        padding-top: 68px;
    }

    section.gift-page {
        padding-top: 116px;
        padding-bottom: 0;
    }

    section.contacts {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    section.gallery {
        padding-bottom: 60px;
    }

    body .title-box__text p {
        font-size: 13px;
    }

    body h1 {
        font-size: 46px;
    }

    body h1.hero__title {
        font-size: 24px;
    }

    body h1.simple-page__title {
        font-size: 42px;
    }

    body h1.error-404__title {
        font-size: 82px;
        margin-bottom: 1.3rem;
    }

    body h2 {
        margin-bottom: 30px;
        font-size: 36px;
    }

    body h2.hero__subtitle {
        font-size: 38px;
    }

    body h2.hero__subtitle span {
        font-size: 54px;
        margin-top: 0.3rem;
    }

    .slogan-cta p {
        margin-bottom: 0.8rem;
        font-size: 22px;
    }

    .grid-two {
        grid-template-columns: 1fr;
    }

    .grid-four {
        grid-template-columns: repeat(2, 1fr);
    }

    section.tree::after {
        background-size: 41vw auto;
        background-position: bottom 56px right;
    }

    body h2.gift__title {
        font-size: 44px;
    }

    .services-wrap .slogan-cta, .solve .slogan-cta {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .services-wrap .slogan-cta p {
        margin-bottom: 0;
    }

    .block-reviews__titles.title-box {
        margin-bottom: 3.3rem;
    }

    body h2.cta-wrap__titleinner {
        font-size: 63px;
    }

    body p.cta-wrap__title {
        font-size: 40px;
        max-width: 454px;
    }

    body h2.bird-title>span.bird.bird-2 {
        width: 188px;
        height: 75px;
    }

    .plashka-item.result-item.item-2 {
        top: 1px;
    }

    .plashka-item.result-item.item-3 {
        top: 3px;
        left: 16vw;
    }

    .plashka-item.result-item.item-4 {
        right: 5vw;
        top: 8px;
    }

    .plashka-item.result-item.item-5 {
        top: 5px;
        left: 33vw;
    }

    .plashka-item.result-item.item-6 {
        top: 2px;
        right: 8vw;
    }

    .plashka-item.result-item.item-7 {
        top: 3px;
        left: 15vw;
    }

    .about-wrap__content .slogan-cta {
        display: none !important;
    }

    body .about-wrap__content.post h2 {
        margin-bottom: 34px;
        font-size: 32px;
    }

    .about-wrap__figure {
        width: 25%;
    }

    section.heaven2::after {
        width: 260px;
        height: 100px;
        top: 59px;
        right: 4vw;
    }

    body h2.gift__title.gift-page {
        font-size: 36px;
        margin-bottom: 0;
    }

    body h2.instrument-texts__title {
        margin-bottom: 24px;
        font-size: 28px;
    }

    body h3.instrument-texts__description {
        font-size: 24px;
        margin-bottom: 30px;
    }

    body .instrument-wrap .button.action-more p {
        font-size: 18px;
    }

    body h3.sidebar-wrap__title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    body .sidebar-wrap__list h3.service-item__title {
        font-size: 14px;
        margin-bottom: 4px;
    }

    a.go-to-button {
        width: 26px;
        height: 26px;
        top: 14px;
        right: 12px;
    }

    body .has-medium-font-size {
        font-size: 16px !important;
    }

    .post p {
        font-size: 15px;
    }

    .post blockquote p {
        font-size: 16px;
    }

    body .post .wp-block-spacer[style="height:80px"] {
        height: 40px !important;
    }

    body .post h2 {
        font-size: 20px;
    }

    body .post h3 {
        font-size: 18px;
    }

    body .post h4 {
        font-size: 16px;
    }

    .cta-box .cta-wrapper {
        max-width: 510px;
    }

    .nav-links>div a {
        font-size: 16px;
    }

    body h3.gallery__title {
        font-size: 26px;
    }
}

@media (max-width:991px) {
    section.gift {
        padding-bottom: 38px;
        padding-top: 68px;
    }

    section.gift-page {
        padding-bottom: 0;
        padding-top: 100px;
    }

    section.cta {
        padding-bottom: 50px;
    }

    section.levels {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    section.instrument {
        padding-top: 52px;
        padding-bottom: 78px;
    }

    body h2 {
        margin-bottom: 30px;
        font-size: 34px;
    }

    body h1.hero__title {
        margin-bottom: 5rem;
    }

    body h1.simple-page__title {
        font-size: 36px;
    }

    body h2.hero__subtitle {
        margin-bottom: 3rem;
    }

    body .button {
        padding: 8px 32px;
        min-height: 38px;
    }

    .slogan-cta p {
        font-size: 20px;
    }

    section.tree::after {
        background-size: 54vw auto;
    }

    .plashka-item {
        white-space: wrap;
        max-width: 100%;
    }

    body h2.gift__title {
        font-size: 42px;
        line-height: 118%;
    }

    body h2.bird-title>span.bird {
        width: 181px;
        height: 71px;
        top: 36%;
        right: 16px;
    }

    body h2.cta-wrap__titleinner {
        width: 87%;
    }

    .levels-list.grid-four {
        max-width: 766px;
    }

    .plashka-item.result-item.item-1 {
        right: -36vw;
    }

    .plashka-item.result-item.item-2 {
        right: -6vw;
    }

    .plashka-item.result-item.item-4 {
        right: -3vw;
        top: 9px;
    }

    .plashka-item.result-item.item-5 {
        top: 7px;
        left: 48vw;
    }

    .plashka-item.result-item.item-6 {
        top: 8px;
        right: -2vw;
    }

    .plashka-item.result-item.item-7 {
        top: 8px;
        left: 26vw;
    }

    .plashka-item.result-item.item-8 {
        left: 10vw;
        top: 10px;
    }

    .cta-wrapper {
        width: 62%;
        max-width: 650px;
        margin-left: auto;
    }

    .cta-box .cta-wrapper {
        margin-left: 0;
    }

    body h3.popup__heading {
        font-size: 14px;
    }

    .about__slogan .slogan-cta.d-flex {
        gap: 42px;
        flex-wrap: wrap;
        margin-top: 0;
    }

    .mission__slogan.slogan-cta__text {
        padding-top: 67px;
        padding-left: 60px;
    }

    section.mission.tree::after {
        background-size: 36vw auto;
        background-position: bottom 18px right 6vw;
    }

    section.heaven2::after {
        top: 3px;
        right: 1vw;
    }

    body h2.gift__title.gift-page {
        font-size: 30px;
    }

    body h2.gift-page.bird-title>span.bird {
        right: -82%;
    }

    body h2.instrument-texts__title {
        margin-bottom: 20px;
        font-size: 24px;
    }

    body h3.instrument-texts__description {
        font-size: 20px;
        margin-bottom: 24px;
    }

    body .instrument-wrap .button.action-more p {
        font-size: 16px;
    }

    .cta-box {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .nav-links>div a {
        font-size: 14px;
    }

    .documents-list {
        column-gap: 10px;
        row-gap: 14px;
    }

    .document__description {
        padding: 9px;
        border-radius: 11px;
        width: calc(100% - 30px);
        bottom: 15px;
    }

    body .button.more-btn {
        margin-top: 30px;
    }

    .contacts__cta .cta-wrapper {
        margin-left: 0;
        width: 530px;
    }

    section.contacts.tree::after {
        background-position: bottom right 3%;
        background-size: auto 67%;
    }

    body h3.gallery__title {
        font-size: 21px;
    }

    .gallery-list.grid-three {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:930px) and (max-height:420px) {
    section, section.services {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    section.gift {
        padding-bottom: 29px;
        padding-top: 32px;
    }

    section.gift-page {
        padding-bottom: 0;
        padding-top: 80px;
    }

    section.levels {
        padding-bottom: 14px;
    }

    section.about {
        padding-top: 40px;
        padding-bottom: 0;
    }

    section.contacts {
        padding-top: 55px;
    }

    body h1 {
        font-size: 30px;
    }

    body h1.hero__title {
        font-size: 18px;
        margin-bottom: 1rem;
    }

    body h1.simple-page__title {
        font-size: 28px;
    }

    body h1.error-404__title {
        font-size: 72px;
        margin-bottom: 0.8rem;
    }

    body h2.hero__subtitle {
        font-size: 22px;
        margin-bottom: 0;
        display: inline-block;
    }

    body h2.hero__subtitle span {
        display: inline-block;
        font-size: 34px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0.5rem;
    }

    .slogan-cta p {
        font-size: 16px;
    }

    body .button {
        font-size: 14px;
    }

    body h2 {
        margin-bottom: 22px;
        font-size: 26px;
    }

    body h2.digits-item__digit, body h2.digits-item__digit::after {
        font-size: 50px;
    }

    body h2.digits-item__digit::after {
        right: -34px;
        top: -3%;
    }

    body h2.gift__title.gift-page {
        font-size: 24px;
    }

    .plashka-item {
        font-size: 16px;
        min-height: 46px;
        padding: 6px 24px;
    }

    .plashka-item.result-item {
        min-height: 42px;
        padding: 4px 26px;
    }

    section.tree::after {
        background-size: 320px auto;
        background-position: bottom 21px right;
    }

    body h2.gift__title {
        font-size: 35px;
        line-height: 118%;
    }

    body p.cta-wrap__title {
        font-size: 31px;
        max-width: 347px;
    }

    body h2.cta-wrap__titleinner {
        font-size: 50px;
    }

    body h2.bird-title>span.bird.bird-2 {
        width: 150px;
        height: 60px;
        right: 11px;
        top: -1%;
    }

    body h2.gift-page.bird-title>span.bird {
        left: 48%;
        top: 26%;
        width: 140px;
        height: 54px;
        right: auto;
    }

    footer {
        padding-top: 36px;
        padding-bottom: 30px;
    }

    body .about-wrap__content.post h2 {
        margin-bottom: 30px;
        font-size: 26px;
    }

    .post blockquote {
        margin-left: 38px;
        padding: 20px 30px;
        margin-bottom: 34px;
        border-radius: 18px;
    }

    .post blockquote p {
        font-size: 16px;
    }

    .about__slogan .slogan-cta.d-flex {
        gap: 1.5rem;
    }

    .about-wrap__figure {
        width: 18%;
    }

    section.mission.tree::after {
        background-size: 30vw auto;
    }

    body h3.symbol-tree__title {
        font-size: 20px;
    }

    section.symbolism {
        padding-top: 46px;
        padding-bottom: 40px;
    }

    section.gallery {
        padding-bottom: 28px;
    }

    section.heaven2::after {
        width: 168px;
        height: 66px;
        top: 10px;
        right: 2vw;
    }

    figure.gift__image.gift-page img {
        object-fit: cover;
        object-position: right;
    }

    body h2.instrument-texts__title {
        margin-bottom: 16px;
        font-size: 18px;
    }

    body h3.instrument-texts__description {
        font-size: 16px;
        margin-bottom: 18px;
    }

    section.instrument {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    body .instrument-wrap .button.action-more p {
        font-size: 15px;
    }

    body .instrument-wrap .button.action-more p::after {
        top: 0;
        right: -24px;
        width: 18px;
        height: 18px;
    }

    body .instrument-wrap .button.action-more {
        padding: 4px 52px;
    }

    .post p:not(:last-of-type), .post ul, .post ol {
        margin-bottom: 16px;
    }

    body .has-medium-font-size {
        font-size: 15px !important;
    }

    .post p, .post ul li {
        font-size: 14px;
    }

    .post blockquote p {
        font-size: 15px;
    }

    body .wp-block-media-text {
        margin-top: 26px !important;
        margin-bottom: 20px !important;
    }

    .post blockquote {
        margin-left: 20px;
        padding: 16px 26px;
        margin-top: 40px;
        margin-bottom: 34px;
        border-radius: 16px;
    }

    body .post .wp-block-spacer[style="height:80px"] {
        height: 28px !important;
    }

    body .post h2 {
        font-size: 18px;
    }

    body .post h3 {
        font-size: 16px;
    }

    body .post h4 {
        font-size: 15px;
    }

    .cta-box {
        margin-top: 46px;
        margin-bottom: 34px;
    }

}

@media (max-width:767px) {
    section, section.services {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    section.symbolism {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    section.gift {
        padding-bottom: 35px;
        padding-top: 45px;
    }

    section.gift-page {
        padding-bottom: 0;
        padding-top: 80px;
    }

    section.about {
        padding-top: 46px;
        padding-bottom: 60px;
    }

    section.contacts {
        padding-top: 55px;
    }

    section.gallery {
        padding-bottom: 28px;
    }

    body h1 {
        font-size: 30px;
    }

    body h1.hero__title {
        font-size: 18px;
        margin-bottom: 2rem;
    }

    body h1.simple-page__title {
        font-size: 28px;
    }

    body h1.error-404__title {
        font-size: 72px;
        margin-bottom: 0.8rem;
    }

    body h2 {
        margin-bottom: 22px;
        font-size: 26px;
    }

    body h2.hero__subtitle {
        font-size: 24px;
        margin-bottom: 1.3rem;
    }

    body h2.hero__subtitle span {
        font-size: 42px;
        margin-top: 0.7rem;
    }

    body h2.gift__title.gift-page {
        font-size: 24px;
    }

    .slogan-cta p {
        text-align: left;
    }

    .slogan-cta p {
        font-size: 18px;
    }

    .slogan-cta p {
        margin-bottom: 3rem;
    }

    body .button.hero__btn {
        margin-bottom: 2rem;
    }

    body .button {
        font-size: 16px;
    }

    body h2.digits-item__digit, body h2.digits-item__digit::after {
        font-size: 50px;
    }

    body h2.digits-item__digit::after {
        right: -34px;
        top: -3%;
    }

    section.tree::after {
        background-size: 392px auto;
        background-position: bottom 23px right;
    }

    .plashka-item {
        font-size: 16px;
        min-height: 46px;
        padding: 6px 24px;
    }

    .plashka-item.result-item {
        min-height: 42px;
        padding: 4px 26px;
    }

    body h2.gift__title {
        font-size: 35px;
        line-height: 118%;
    }

    body h2.service-item__title {
        text-align: center;
    }

    body h2.gift-page.bird-title>span.bird {
        left: 48%;
        top: 26%;
        width: 140px;
        height: 54px;
        right: auto;
    }

    body .button.gift__btn {
        min-width: 138px;
    }

    .services-wrap .slogan-cta, .slogan-cta.d-flex {
        align-items: flex-start;
        gap: 1.5rem;
        flex-direction: column;
    }

    .block-reviews__titles.title-box {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 100px;
    }

    body .block-documents .button.action-more {
        min-width: 205px;
        margin: 0 auto;
    }

    body p.cta-wrap__title {
        font-size: 31px;
        max-width: 347px;
    }

    body h2.cta-wrap__titleinner {
        width: 100%;
        font-size: 50px;
    }

    body h2.bird-title>span.bird.bird-2 {
        width: 150px;
        height: 60px;
        right: 11px;
        top: -1%;
    }

    .plashka-item.result-item.item-1,
    .plashka-item.result-item.item-2,
    .plashka-item.result-item.item-3,
    .plashka-item.result-item.item-4,
    .plashka-item.result-item.item-5,
    .plashka-item.result-item.item-6,
    .plashka-item.result-item.item-7,
    .plashka-item.result-item.item-8 {
        right: auto;
        left: 0;
    }

    footer {
        padding-top: 36px;
        padding-bottom: 30px;
    }

    .cta-wrapper {
        width: 100%;
        max-width: 450px;
    }

    footer .cta-wrapper::before {
        top: -124px;
        left: auto;
        right: 15px;
    }

    body .about-wrap__content.post h2 {
        margin-bottom: 30px;
        font-size: 26px;
    }

    .post blockquote {
        margin-left: 38px;
        padding: 20px 30px;
        margin-bottom: 34px;
        border-radius: 18px;
    }

    .post blockquote p {
        font-size: 16px;
    }

    .about-wrap__figure {
        display: none;
    }

    .about__slogan .slogan-cta.d-flex {
        gap: 1.5rem;
    }

    section.mission.tree::after {
        background-size: 56vw auto;
    }

    body h3.symbol-tree__title {
        font-size: 20px;
    }

    section.heaven2::after {
        width: 168px;
        height: 66px;
        top: 10px;
        right: 2vw;
    }

    figure.gift__image.gift-page img {
        object-fit: cover;
        object-position: right;
    }

    body h2.instrument-texts__title {
        margin-bottom: 16px;
        font-size: 18px;
    }

    body h3.instrument-texts__description {
        font-size: 16px;
        margin-bottom: 18px;
    }

    section.instrument {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    body .instrument-wrap .button.action-more p {
        font-size: 15px;
    }

    body .instrument-wrap .button.action-more p::after {
        top: 0;
        right: -24px;
        width: 18px;
        height: 18px;
    }

    body .instrument-wrap .button.action-more {
        padding: 4px 52px;
    }

    .post p:not(:last-of-type), .post ul, .post ol {
        margin-bottom: 16px;
    }

    body .has-medium-font-size {
        font-size: 15px !important;
    }

    .post p, .post ul li {
        font-size: 14px;
    }

    .post blockquote p {
        font-size: 15px;
    }

    body .wp-block-media-text {
        margin-top: 26px !important;
        margin-bottom: 20px !important;
    }

    .post blockquote {
        margin-left: 20px;
        padding: 16px 26px;
        margin-top: 40px;
        margin-bottom: 34px;
        border-radius: 16px;
    }

    body .post .wp-block-spacer[style="height:80px"] {
        height: 28px !important;
    }

    body .post h2 {
        font-size: 18px;
    }

    body .post h3 {
        font-size: 16px;
    }

    body .post h4 {
        font-size: 15px;
    }

    .post ul.block-accord-list {
        padding-left: 0;
    }

    .cta-box {
        margin-top: 46px;
        margin-bottom: 34px;
    }

    body .sidebar-wrap__list h3.service-item__title {
        font-size: 12px;
    }

    .nav-links {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .contacts__cta .cta-wrapper {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 618px) {
    .gallery-list.grid-three {
        grid-template-columns: 1fr;
        max-width: 412px;
    }
}

@media (max-width:767px) and (max-height:420px) {
    section.mission.tree::after {
        background-size: 30vw auto;
    }
}

@media (max-width:439px) {
    section.levels {
        padding-bottom: 33px;
    }

    body .button {
        font-size: 15px;
    }

    body h1 {
        font-size: 26px;
    }

    body h1.error-404__title {
        font-size: 66px;
        margin-bottom: 1rem;
    }

    body h2.digits-item__digit, body h2.digits-item__digit::after {
        font-size: 40px;
    }

    body h2.digits-item__digit::after {
        right: -30px;
    }

    body h2.bird-title>span.bird {
        width: 138px;
        height: 52px;
        right: 9px;
    }

    .gradient-dark::before {
        background: linear-gradient(to right, #38415D 85%, transparent);
    }

    .grid-four {
        grid-template-columns: 1fr;
    }

    .documents-slider__slide.document {
        height: 84vw;
    }

    body h2.cta-wrap__titleinner {
        font-size: 44px;
    }

    body p.cta-wrap__title {
        font-size: 28px;
        max-width: 316px;
    }

    body h2.bird-title>span.bird.bird-2 {
        width: 115px;
        height: 47px;
        right: 2px;
        top: -9%;
    }

    .levels-list.grid-four {
        grid-template-columns: 1fr;
    }

    body h3.cta-wrapper__title {
        font-size: 18px;
    }

    .cta-wrapper {
        padding: 24px 25px 18px;
    }

    body .about-wrap__content.post h2 {
        margin-bottom: 24px;
        font-size: 22px;
    }

    .post blockquote {
        margin-left: 12px;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 16px;
    }

    .post blockquote p {
        font-size: 14px;
    }

    body .post h2 {
        font-size: 16px;
    }

    body .post h3 {
        font-size: 14px;
    }

    body .post h4 {
        font-size: 14px;
    }

    body h3.symbol-tree__title {
        font-size: 18px;
    }

    .post p:not(:last-of-type), .post ul, .post ol {
        margin-bottom: 8px;
    }

    body h3.education-item__title {
        font-size: 14px;
        line-height: 130%;
    }

    .post p, .post ul li {
        font-size: 13px;
    }

    body .has-medium-font-size {
        font-size: 14px !important;
    }

    body h2.gift__title.gift-page {
        font-size: 22px;
    }

    body .instrument-wrap .button.action-more p {
        font-size: 14px;
    }

    body .instrument-wrap .button.action-more {
        padding: 4px 45px;
        min-height: 32px;
    }

    .post ul.block-accord-list {
        margin-top: 0;
    }

    .nav-links>div a {
        font-size: 12px;
    }
}

@media (max-width:375px) {
    body h1.hero__title {
        font-size: 17px;
        margin-bottom: 1.2rem;
    }

    body h2.hero__subtitle {
        font-size: 22px;
        margin-bottom: 1rem;
    }

    body h2.hero__subtitle span {
        font-size: 40px;
        margin-top: 0.5rem;
    }

    .slogan-cta p {
        font-size: 16px;
        margin-bottom: 2rem;
    }

    body .button.hero__btn {
        margin-bottom: 1rem;
    }

    body h2.digits-item__digit, body h2.digits-item__digit::after {
        font-size: 37px;
    }

    body h2.digits-item__digit::after {
        right: -27px;
    }

    body h2.cta-wrap__titleinner {
        font-size: 38px;
    }

    body p.cta-wrap__title {
        font-size: 25px;
        max-width: 283px;
    }

    .cta-wrapper {
        padding: 24px 16px 18px;
    }

    body h3.cta-wrapper__title {
        font-size: 16px;
    }

    body h4.cta-wrapper__subtitle {
        font-size: 13px;
    }

    body .instrument-wrap .button.action-more {
        padding: 4px 35px;
    }
}