/*Menu global*/

.header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--blue);
    -webkit-box-shadow: 5px 5px 8px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 8px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 8px 8px rgba(0, 0, 0, 0.25);
}

.header__wrapper {
    gap: 80px;
}

.header__logo {
    width: 247px;
    position: relative;
    bottom: -10px;
    margin-bottom: -20px;
}

footer .menu {
    flex-direction: column;
    gap: 0.8rem;
}

footer .menu li a {
    font-size: 18px;
}

footer .menu li a:hover, footer .menu li a:focus {
    color: #7A779F;
}

/*--------------ДЕСКТОПНОЕ МЕНЮ----------------*/

/*-----Верхний уровень------*/

/*-----По умолчанию------*/

#primary-menu li {
    padding: 0 26px;
    display: list-item;
    transition: all .25s ease-in-out;
    transition: background-color .3s ease-in-out;
}

#primary-menu li a {
    font-family: var(--font_light);
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color .3s ease-in-out;
    min-height: 76px;
    text-transform: lowercase;
}

/*------При наведении-------*/

#primary-menu li:hover, #primary-menu li:focus, #primary-menu li.active {
    background: #4C546D;
    transition: all .25s ease-in-out;
}

#primary-menu li:hover a, #primary-menu li:focus a, #primary-menu li.active a {
    color: var(--white);
    transition: all .25s ease-in-out;
}

/*-----Верхний уровень END------*/


/*-----Подменю первый уровень Десктоп------*/

/*-----По умолчанию------*/

.menu-item-58 {
    position: relative;
}

#primary-menu li.menu-item-58>a {
    position: relative;
}

#primary-menu .sub-menu li a {
    height: fit-content;
    font-size: 16px;
    color: var(--white);
}

/* Галка, поясняющая открытие подменю */
#primary-menu li.menu-item-58>a::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 0px;
    right: -7px;
    background: url('../img/menu-arrow-down.svg') no-repeat center/contain;
}

.menu-item-58>.sub-menu {
    display: none;
    position: absolute;
    background-color: #788098;
    left: 0;
    top: 76px;
    width: fit-content;
    padding-bottom: 4px;
}

.menu-item-58>ul.sub-menu.active {
    display: block;
}

#primary-menu .menu-item-58>.sub-menu li {
    position: relative;
    width: 100%;
    padding-left: 31px;
    transition: background-color .3s ease-in-out;
}

#primary-menu .menu-item-58>.sub-menu li>a {
    font-size: 16px;
    min-height: 32px;
    line-height: 120%;
    white-space: nowrap;
    text-transform: none;
}

/*------При наведении-------*/

/* Элемент открытия в десктопе при наведении */
#primary-menu li.menu-item-58:hover, #primary-menu li.menu-item-58:focus {
    background: transparent;
}

/* Элемент меню в подменю в десктопе */
#primary-menu li.menu-item-58:hover .sub-menu li, #primary-menu li.menu-item-58:focus .sub-menu li {
    background-color: transparent;
}

/* Элемент меню в подменю в десктопе при наведении */
#primary-menu li.menu-item-58 .sub-menu li:hover, #primary-menu li.menu-item-58 .sub-menu li:focus {
    background-color: #4C546D;
}

/* Ссылка Элемента меню в подменю в десктопе при наведении */
#primary-menu li.menu-item-58 .sub-menu li:hover a, #primary-menu li.menu-item-58 .sub-menu li:focus a {
    color: var(--white);
}

/*-----Подменю первый уровень Десктоп END------*/

/*--------------ДЕСКТОПНОЕ МЕНЮ END----------------*/


/*--------------МОБИЛЬНОЕ МЕНЮ----------------*/

/*-----Верхний уровень------*/

/*-----По умолчанию------*/

/*------При наведении-------*/

.header-center__nav.opened #primary-menu li:hover, .header-center__nav.opened #primary-menu li:focus {
    background: transparent;
}

.header-center__nav.opened #primary-menu li:hover a, .header-center__nav.opened #primary-menu li:focus a {
    color: var(--black);
}

/*-----МОБИЛЬНОЕ Подменю первый уровень------*/

/*-----По умолчанию------*/

.header-center__nav.opened #primary-menu li.menu-item-58 .sub-menu li a {
    color: var(--black);
}

/*------При наведении-------*/
.header-center__nav.opened #primary-menu li.menu-item-58 .sub-menu li:hover, .header-center__nav.opened #primary-menu li.menu-item-58 .sub-menu li:focus {
    background: transparent;
}

.header-center__nav.opened #primary-menu li.menu-item-58 .sub-menu li:hover a, .header-center__nav.opened #primary-menu li.menu-item-58 .sub-menu li:focus a {
    color: var(--black);
}

/*-----Подменю первый уровень МОБИЛЬНОЕ END------*/

/*--------------МОБИЛЬНОЕ МЕНЮ END----------------*/


/*Burger menu*/
.burger {
    margin-left: auto;
    position: relative;
    z-index: 5;
    height: 28px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    transition: .5s ease-in-out;
    cursor: pointer;

    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.burger, .burger span {
    width: 38px;
    transform: rotate(0deg);

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.burger span {
    display: block;
    position: absolute;
    right: auto;
    left: 0;
    height: 3px;
    opacity: 1;
    background: var(--dark_blue);
    transition: .25s ease-in-out;

    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

.burger span:first-child {
    top: 0;
}

.burger span:nth-child(2) {
    top: 10px;
}

.burger span:nth-child(3) {
    top: 21px;
    width: 28px;
}

.burger-close {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    z-index: 99;
}

.burger-close svg {
    width: 24px;
    height: 24px;
}

.burger-close svg path {
    fill: var(--black);
}

/*Burger end*/


/*Media*/

@media (min-width:1921px) {}

@media (max-width:1399px) {
    .header__wrapper {
        gap: 26px;
    }

    .header__logo {
        width: 215px;
    }

    #primary-menu li a {
        font-size: 16px;
        min-height: 60px;
    }

    .menu-item-58>.sub-menu {
        top: 62px;
    }

    footer .menu {
        gap: 0.5rem;
    }
}

@media (max-width:1199px) {
    .menu-osnovnoe-menyu-container #primary-menu {
        flex-direction: column;
        height: 100%;
    }

    .header-center__nav {
        transform: translateX(-105vw);
        position: fixed;
        width: 450px;
        padding: 7rem 0 30px 10px;
        gap: 22px;
        left: 0;
        top: 0;
        z-index: 99;
        height: 100%;
        grid-template-rows: 1fr auto;
        transition: transform .7s ease-in;
        background-color: var(--light-grey);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-bottom {
        padding-left: 30px;
    }

    .header-center__nav.opened {
        /* display: grid; */
        transform: translateX(0);
        transition: transform .7s ease-in;
    }

    .navbar-content {
        height: calc(100vh - 230px);
    }

    #primary-menu li a {
        font-size: 24px;
        min-height: fit-content;
        color: var(--black);
    }

    #primary-menu .sub-menu li a {
        color: var(--black);
    }

    .menu-item-58>.sub-menu {
        position: static;
        grid-template-columns: 1fr;
        background-color: transparent;
        padding-top: 2px;
        padding-bottom: 10px;
    }

    #primary-menu li.menu-item-58>a::after {
        background-image: url('../img/menu-arrow-down.svg');
    }

    #primary-menu .menu-item-58>.sub-menu li {
        padding-left: 14px;
    }

    .menu-item-58>.sub-menu li a {
        font-size: 22px;
    }

    .header__wrapper {
        gap: 30px;
        flex-wrap: wrap;
        row-gap: 10px;
        min-height: 53px;
    }

    #primary-menu li.active {
        background: initial;
    }

    .burger {
        order: -1;
    }

    .header__logo {
        width: 180px;
        justify-self: flex-start !important;
        position: absolute;
        top: 7px;
        left: 64px;
    }

    footer .menu {
        gap: 0.3rem;
    }

    footer .menu li a {
        font-size: 16px;
    }
}

@media (max-width:991px) {
    .hero__text::before, .hero__text::after {
        width: 50px;
        height: 42px;
    }
}


@media (max-width:930px) and (max-height:420px) {
    .header__logo {
        width: 110px;
    }

    .header__tel {
        font-size: 18px;
    }

    .burger {
        height: 18px;
    }

    .burger span {
        width: 30px;
    }

    .burger-close svg {
        width: 25px;
        height: 25px;
    }

    .burger span:nth-child(3) {
        width: 20px;
    }

    .burger span:nth-child(2) {
        top: 8px;
    }

    .burger span:nth-child(3) {
        top: 17px;
    }

    #primary-menu li a {
        font-size: 17px;
    }

    #primary-menu .menu-item-58>.sub-menu li>a {
        font-size: 14px;
        min-height: 31px;
    }

    .header__tel {
        height: 53px;
        padding: 8px 20px;
    }

    .header__wrapper {
        gap: 10px;
        flex-wrap: nowrap;
    }

    .header__tel a {
        font-size: 18px;
    }

    .header-center__nav {
        padding: 54px 0 16px 2px;
    }

    .navbar-content {
        height: calc(100vh - 133px);
    }

    .footer #primary-menu li a, .footer #services-menu li a {
        font-size: 16px;
    }

    .hero__text::before, .hero__text::after {
        width: 40px;
        height: 35px;
    }
}

@media (max-width:767px) {
    .header__logo {
        width: 110px;
    }

    .header-center__nav {
        width: 100%;
        border: none;
        padding-left: 0;
    }

    .hero-left .menu-osnovnoe-menyu-container, .hero-left .menu-menyu-v-sajdbare-glavnaya-container {
        margin: 0;
    }

    .footer #primary-menu li a, .footer #services-menu li a {
        font-size: 16px;
    }

    #primary-menu li a {
        font-size: 20px;
    }

    #primary-menu .menu-item-58>.sub-menu li>a {
        font-size: 16px;
        min-height: 35px;
        line-height: 135%;
    }

    .burger {
        height: 18px;
    }

    .burger span {
        width: 30px;
    }

    .burger-close svg {
        width: 25px;
        height: 25px;
    }

    .burger span:nth-child(3) {
        width: 20px;
    }

    .burger span:nth-child(2) {
        top: 8px;
    }

    .burger span:nth-child(3) {
        top: 17px;
    }

    .hero__text::before, .hero__text::after {
        width: 40px;
        height: 35px;
    }

    .hero__text::before {
        top: -9px;
    }

}

@media (max-width:439px) {
    .header__tel a, .other-pages .header__tel a {
        font-size: 16px;
    }

    .header__logo {
        width: 100px;
    }

    .header-center__nav {
        padding: 5rem 0 23px 10px;
    }

    .footer #primary-menu li a, .footer #services-menu li a {
        font-size: 14px;
    }

}

@media (max-width:374px) {
    .header__tel a, .other-pages .header__tel a {
        font-size: 15px;
    }

    #primary-menu li {
        padding: 1px 12px;
    }

    #primary-menu li a {
        font-size: 17px;
    }

    #primary-menu .menu-item-58>.sub-menu li>a {
        font-size: 13px;
        min-height: 26px;
    }
}